name: Syntax check

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v5
      with:
        node-version: 22
    - name: build
      run: npm install -g pnpm && pnpm install && pnpm run build
    - name: copy to 1 folder
      run: cp README.md LICENSE action.yml .gitignore ./dist
    - name: Pushes to another repository
      uses: cpina/github-action-push-to-another-repository@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.PERSONAL_TOKEN }}
      with:
        source-directory: ./dist
        destination-github-username: guzhongren
        destination-repository-name: algolia-docsearch-upload-action
        user-email: guzhongren@live.cn
        target-branch: main
