name: Syntax check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Syntax check
      run:  sh -n ./entrypoint.sh ./ops/register_git_hooks.sh
